body {
    padding-bottom: 10px;
}
.marchType,.marchContent,.marchConfirm {
    height: 7px;
    background: #eeeeee;
}
.marchType {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.marchConfirm {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.marchContent {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.Finish {
    background: #60a9f4;
}
.content div {
    color: #fff;
    padding: 0;
}
.content div.marchTipArrive {
    color: #797979;
}
.section-box {
    background: #fff;
}
.section {
    padding: 0;
    height: 32px;
}
.section p {
    margin-top: 7px;
}
.content {
    border-bottom: 1px solid #e2e2e2;
}
#Structure p {
    border-right: 1px solid #e2e2e2;
}
.form-group{
    background: none;
}
.form-group p{
    font-size: 0.55rem;
}
.form-group div,.form-group label {
    padding: 0px;
}
.Title{
    margin-top: 4px;
    font-size: 0.85rem;
}
input[type="text"], input[type="text"]:focus{
    height: 30px!important;
    line-height: 30px!important;
    border: 1px solid #dcdcdc;
    border-radius: 0px;
    background: #fff;
}
.Investment {
    padding: 10px 15px 0;
}
.CheckBoxZoom {
    margin-top: 3px;
    margin-bottom: 4px;
    border: 1px solid #dcdcdc;
    background: #fff;
}
.CheckBoxZoom p {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #dcdcdc;
    margin-bottom: 0;
}
.queren {
    background: url("../img/xuanzhong.png") no-repeat right center;
    background-size: 18px 18px;
}
.type img,.touxiang img {
    margin-top: -4px;
    margin-right: 5px;
    width: 1rem;
}
.Stock {
    background: url("../img/gu.png") no-repeat left center;
    background-size: 18px 18px;
}
.DetailList p {
    padding: 5px 10px;
    margin-bottom: 0px;
    height: 44px;
    line-height: 44px;
    color: #000;
    border-bottom: 1px solid #dcdcdc;
}
.DetailList p:last-child {
    border-bottom: 0px;
}
.content {
    padding-bottom: 0;
}
.content div p span.right {
    color: #4a4a4a;
}