.left-line {
    margin-left: 0.64rem;
    height: 30px;
    border-left: 2px solid #60a9f4;
}
.p {
    margin: 3px 0px;
    padding: 0;
    height: 1.38rem;
    line-height: 1.38rem;
    color: #4a4a4a;
}
.num {
    padding-left: 7px;
    padding-top: 1px;
    margin-right: 10px;
    display: inherit;
    width: 1.38rem;
    height: 1.38rem;
    line-height: 1.2rem;
    font-size: 1rem;
    float: left;
    font-family: "ºÚÌå", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    background: url(../img/dian.png) no-repeat 0 center;
    background-size: 100% 100%;
    color: #fff;
}