label {
    text-align: left!important;
}
.inputbox {
    padding-top: 15px;
}
.control-label {
    padding-top: 12px!important;
}
.form-group {
    height: 44px;
    margin-bottom: 0px;
}
.form-control {
    margin-top: 6px;
}
#Post{
    margin-top: 2px;
    float: right;
    background: none;
    color: #4a4a4a;
    border: none;
    box-shadow: inset 0 0 0 #fff!important;
    -webkit-box-shadow: inset 0 0 0 #fff!important;
}
#Post:hover, #Post:focus, #Post:active, #Post.active, {
    margin-top: 0px;
    float: right;
    background: none;
    color: #4a4a4a;
    border: none;
    box-shadow: inset 0 0 0 #fff!important;
     -webkit-box-shadow: inset 0 0 0 #fff!important;
}
#Verification {
    padding-left: 0px;
    text-align:left;
}
input[type='text']{
    text-align:right;
}

input[type='text']:focus{
    text-align:right;
}
#sendmessage{
    background: #468abf;
    color: #fff;
    height: 100%;
    text-align: center!important;
}
#phonenum {
    text-align: right;
}
.forbidclick {
    background: #bfbfbf!important;
}
.form-control {
    height: 34px!important;
    line-height: 1.42857143!important;
}

