#Setting {
    padding: 4px;
    margin-top: 5px;
    float: right;
    margin-right: 5px;
    color: #fff;
    width: 60px;
    font-size: 0.777rem;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}
#LastLoginTime {
    color: #878787;
    font-size: .666rem;
}
h4 {
    color:#797979;
}
h4.value {
    color: #000;
    border-bottom: 1px solid #dcdcdc;
}
.TipBox {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 30px 5px 5px;
    float: left;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}
.content {
    padding: 0.5rem 1.1rem;
}
.TipBoxZoom {
    margin-top: -0.7rem;
    padding: 0 1.1rem 0.5rem;
    background: #fff;

}
#NewProduct {
    background: url(../img/chanpin.png) #ffb412 no-repeat center 20%;
    background-size:20px 20px;
    border: 1px solid #ffb412;
}
#LastActivity {
    background: url(../img/liwu.png) #f47860 no-repeat center 20%;
    background-size:20px 20px;
    border: 1px solid #f47860;
}
#CommonQuestion {
    background: url(../img/kefu.png) #60a9f4 no-repeat center 20%;
    background-size:20px 20px;
    border: 1px solid #60a9f4;
}
#ThreeSectionBox {
    margin-top: 10px;
    background: #fff;
    padding: 0px;
}
#ThreeSectionBox div {
    padding: 0;
    height: 35px;
    vertical-align: middle;
}
#ThreeSectionBox div p {
    margin-top: 8px;
    text-align: center;
    border-right: 1px solid #e2e2e2;
}
.col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.DraftProduct {
    margin-top: 10px;
    padding-top: 10px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.DraftProduct p {
    color: #797979;
}
.DraftProduct p span.value {
    color: #000;
}
.DraftProduct div {
    padding: 4px;
}
.change {
    height: 24px;
    padding: 0 12px;
}
.ProjectManager {
    padding: 0 5px;
    height: 25px;
}
.Schedule {
    padding: 10px;
}
.smalldian {
    margin-right: 5px;
    margin-top: -5px;
    width: 10px;
}
.bigdian {
    margin: -5px 2px 0 -2px;
    width: 15px;
}
.finishline {
    padding: 0px;
}
.finishline img{
    height: 100%;
}
.DraftProduct div.col-xs-6 {
    padding: 0;
}
.DraftProduct div.text-right {
    padding-right: 5px;
}

.ScheduleLine {
    margin-left: 5px;
    border-left: 1px solid #60a9f4;
    height: 15px;
}
.checkdetails {
    color: #60a9f4;
}
.checkdetails img {
    margin-top: -4px;
    margin-left: 2px;
    height: 10px;
}
.UnReach {
    border-left: 1px solid #e8e8e8;
}
.DraftProduct p.FinishHead {
    border-bottom: 1px solid #e8e8e8;
}
.FinishProduct div div{
    padding: 0;
    color: #909090;
    font-size: 1rem;
}
.FinishProduct div div span{
    font-size: 0.6rem;
}
.FinishProduct div div.text-right {
    padding-right: 0px;
}
.FinishBottom {
    margin-top: 55px;
    padding: 5px 0;
    font-size: 0.7rem;
}